{% extends 'base2.html' %}

{% block content %}
<div class="container">
    <img src="https://res.cloudinary.com/dgb2e2npb/image/upload/v1615252567/hi1_ekqums.png" style="display: block; margin: 0 auto;">
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <a name="agreescroll"></a>
        <div class="form-group">
            <label for="name" style="margin : auto auto auto 290px;">이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ form.name.value|default_if_none:'' }}" style="display: block; margin: auto auto auto 290px; width:300px">
        </div>
        <div class="form-group">
            <label for="ph" style="margin : auto auto auto 290px;">전화번호</label>
            <input type="number" class="form-control" name="ph" id="ph"
                   value="{{ form.ph.value|default_if_none:'' }}" style="display: block; margin: auto auto auto 290px; width:300px">
        </div>

        <div class="form-group">
            <label for="message" style="margin : auto auto auto 290px;">메세지</label>
            <textarea class="form-control" name="message"
                      id="message" rows="10" style=" display: block; margin: auto auto auto 290px; width:500px">{{ form.message.value|default_if_none:'' }}</textarea>
        </div>
        <div class="form-group">
            <input type="checkbox" name="agree" id="agree" value="yes" style="margin : auto auto auto 290px;"><label for="agree" style="margin : auto auto auto 10px;">개인정보취급동의(필수)</label>&nbsp&nbsp&nbsp<a href="#agreescroll" onclick="window.open('https://www.replyalba.co.kr/intros/hiHyundai/term.html','이용약관','width=500 height=500')"><U>이용약관 보기</a>
        </div>
        <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto;
        background-color:#0e0f0f; border-color:#0e0f0f; width: 530px; font-size:large; font-weight: 900; text-align:center;">제&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp출</button>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <!--        {% if messages %}-->
<!--        <ul class="messages">-->
<!--            {% for message in messages %}-->
<!--            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--        {% endif %}-->
    </form>
    <img src="https://res.cloudinary.com/dgb2e2npb/image/upload/v1615252633/hi2_nffigp.png" style="display: block; margin: 0 auto;">
    <img src="https://res.cloudinary.com/dgb2e2npb/image/upload/v1615252635/hi3_uigdyx.png" style="display: block; margin: 0 auto;">
    <img src="https://res.cloudinary.com/dgb2e2npb/image/upload/v1615252634/hi4_wno4pn.png" style="display: block; margin: 0 auto;">
    <img src="https://res.cloudinary.com/dgb2e2npb/image/upload/v1615252632/hi5_kfpetl.png" style="display: block; margin: 0 auto;">
</div>
{% endblock %}
